# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Idea\mybatis-3-5.3.x\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
